{% load i18n %}

{% get_language_info for LANGUAGE_CODE as lang %}
<div class="language-selector">
    <div class="dropdown">
        <button type="button"
                aria-controls="language-switcher"
                aria-expanded="false"
                class="dropdown-button ghost">
            {{ lang.name_local|title }}
            <span aria-hidden="true" class="icon ti-chevron-down"></span>
        </button>
        <ul id="language-switcher" role="listbox" class="dropdown-list">
            {% for code, url in language_links %}
                {% get_language_info for code as lang %}
                {% if LANGUAGE_CODE != code %}
                    <li>
                        <a hreflang="{{ code }}"
                           href="{{ url }}"
                           role="option"
                           lang="{{ code }}">
                            <button>{{ lang.name_local.title }}</button>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
