@use "../variables" as theme;

.dropdown {
  max-width: 100%;
  width: auto;
  padding: 0;
  position: relative;
  align-self: center;

  > button,
  > a.button {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    display: flex;
  }

  ul {
    li {
      padding: 0;
    }

    button,
    a.button {
      background: transparent;
      border-radius: unset;
      border: 0;
      justify-content: start;
      font-weight: normal;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  form {
    padding: 0;
    gap: 0;
  }

  .dropdown-list {
    display: none;
    left: 0;
    position: absolute;
    top: 3.25rem;
    z-index: 2;
    width: max-content;
    max-width: 20rem;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    gap: 0;
    max-height: 90vh;
    overflow-x: auto;

    > ul {
      margin: 0;
      width: 100%;
      padding: 0;
      list-style-type: disc;
      gap: 0;

      li {
        $icon-width: 1.25rem;

        padding: 0;
        width: 100%;

        > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
          min-height: 2.75rem;
          text-decoration: none;
          width: 100%;

          .icon {
            display: flex;
          }

          /* Styling with subtitle */
          &:has(> div) {
            flex-direction: column;
            align-items: flex-start;
          }

          > div {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }

        &[aria-current="true"] {
          a::before {
            content: "\ea5e";
            margin-right: 0.5rem;
            width: 1.25rem;
          }
        }

        &::marker {
          content: none;
        }

        &:first-child {
          border-top: none;
        }

        &:last-child {
          // border-top should still inherit
          border-left: none;
          border-right: none;
          border-bottom: none;
        }

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}

.dropdown-list.left {
  left: auto;
  right: 0;
}

.dropdown-list {
  [aria-expanded="true"] + & {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
}
