@use "@minvws/manon-themes/kat" with (
  $font-path: "/assets/dist/fonts"
);
@use "@minvws/manon/components/bundles/all";
@use "../icons/tabler";

// KAT components
@forward "components/introduction";
@forward "components/tile";
@forward "components/plugins";
