$accordion-gap: 0;
$accordion-button-padding: 0.75rem 0;
$accordion-button-justify-content: flex-start;
$accordion-button-background-color: transparent;

// $accordion-button-text-color: $colors-blue-600;
$accordion-button-icon-before-font-size: 1.25rem;
$accordion-button-icon-after-font-size: 1.25rem;

// $accordion-button-icon-font-family: $icon-font-family;
$accordion-button-icon-before-open-content: "\ea5f";
$accordion-button-icon-after-open-content: none;
$accordion-button-icon-before-close-content: "\ea62";
$accordion-button-icon-after-close-content: none;
$accordion-button-icon-after-margin-left: auto;
$accordion-content-gap: 1.5rem;
$accordion-content-border-width: 0 0 1px 0;

// $accordion-content-background-color: $colors-white;
// $accordion-content-text-color: $application-base-text-color;
$accordion-content-padding: 1.5rem 2rem 2rem 2rem;
$grey: #cccccc;
$offwhite: #fafafa;
$lightgrey: #f0f0f0;
$pink: #ca005d;
$blue: #01689b;
$color-alert-informative: #006fb3;
$color-alert-warning: #7d6900;
$color-alert-positive: #157b31;
$color-alert-negative: #c3372c;
$color-alert-negative-darker: #a22e25;
