{% load static %}
{% load i18n %}

<nav class="tabs"
     aria-label="{% translate "List of views for objects page" %}">
    <ul>
        <li {% if view == "hostnames" %}aria-current="page"{% endif %}>
            {% url "objects:hostname_list" as index_url %}
            <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}">{% translate "Hostnames" %}</a>
        </li>
        <li {% if view == "ipaddresses" %}aria-current="page"{% endif %}>
            {% url "objects:ipaddress_list" as index_url %}
            <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}">{% translate "IP addresses" %}</a>
        </li>
        <li {% if view == "networks" %}aria-current="page"{% endif %}>
            {% url "objects:network_list" as index_url %}
            <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}">{% translate "Networks" %}</a>
        </li>
        <li {% if view == "object_sets" %}aria-current="page"{% endif %}>
            {% url "object_set_list" as index_url %}
            <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}">{% translate "Object sets" %}</a>
        </li>
    </ul>
</nav>
