{% load i18n %}

<div>
    <nav class="tabs" aria-label="{% translate "Plugins Navigation" %}">
        <ul>
            <li>
                <a href="{% url 'boefjes_list' organization.code view_type %}"
                   {% if active == "boefjes" %}aria-current="page"{% endif %}>{% translate "Boefjes" %}</a>
            </li>
            <li>
                <a href="{% url 'normalizers_list' organization.code view_type %}"
                   {% if active == "normalizers" %}aria-current="page"{% endif %}>{% translate "Normalizers" %}</a>
            </li>
            <li>
                <a href="{% url 'all_plugins_list' organization.code view_type %}"
                   {% if active == "all" %}aria-current="page"{% endif %}>{% translate "All" %}</a>
            </li>
            <li>
                <a href="{% url 'about_plugins' organization.code %}"
                   {% if active == "about-plugins" %}aria-current="page"{% endif %}>{% translate "About plugins" %}</a>
            </li>
        </ul>
    </nav>
</div>
