/* Weasyprint toolbar overrides */

.toolbar {
  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .dropdown button,
  .dropdown a.button,
  button.secondary,
  a.button.secondary,
  input[type="button"].secondary,
  input[type="submit"].secondary,
  input[type="reset"].secondary,
  .dropdown-list {
    display: none;
  }
}
