$normalizer-plugin-type-label-background: #abdbf8;
$normalizer-plugin-type-label: #005c94;
$boefje-plugin-type-label-background: #d6d1ef;
$boefje-plugin-type-label: #5b4f90;
$link-text-color: null !default;
$spacing-grid-050: 0.5rem;
$spacing-grid-100: 1rem;
$tile-border-radius: 0.5rem !default;
