name: Create and publish Docker image for building Debian packages

on:
  workflow_dispatch: {}
  push:
    branches:
      - "main"
    paths:
      - "packaging"
      - ".github/workflows/build-debian-docker-image.yml"
  pull_request:
    paths:
      - "packaging/**"
      - ".github/workflows/build-debian-docker-image.yml"

env:
  REGISTRY: docker.underdark.nl

jobs:
  build-debian-image:
    strategy:
      matrix:
        dist: [debian12, ubuntu22.04]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: docker.underdark.nl
          username: ${{ secrets.librekat_user }}
          password: ${{ secrets.librekat_password }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            docker.underdark.nl/librekat/openkat-${{ matrix.dist }}-build-image
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./packaging/${{ matrix.dist }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
