name: Pre-commit checks

on:
  workflow_call:
  push:
    branches:
      - "main"
      - "release-*"
    tags:
      - "*"
  pull_request:

jobs:
  pre-commit:
    permissions:
      contents: read
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: j178/prek-action@v1
